---
import BaseLayout from "../layouts/base.astro";
const { articles, cssClass, title, authors, description, keywords } =
    Astro.props;
---

<BaseLayout
    title={title}
    authors={authors}
    description={description}
    keywords={keywords}
>
    <ul class={`${cssClass} archive`}>
        {
            articles.map((article: any) => (
                <li>
                    <a href={`/articles/${article.id}`}>{article.data.title}</a>
                    <time
                        datetime={article.data.dates.published
                            .toISOString()
                            .split("T")[0]
                            .trim()}
                    >
                        {article.data.dates.published
                            .toISOString()
                            .split("T")[0]
                            .trim()}
                    </time>
                </li>
            ))
        }
    </ul>
    <p>And you can get the rss feed at <a href="/rss.xml">/rss.xml</a></p>
</BaseLayout>
